<div id ="connexion" class="wrapper">
  <button type="button" id="enterButton" (click)="enterInApp()">Entrez dans l'application</button>
  <div class="row">
    <div class="col-md-6">
      <app-connexion-drive name="GoogleDrive">Loading...</app-connexion-drive>
    </div>
    <div class="col-md-6">
      <app-connexion-drive name="Dropbox">Loading...</app-connexion-drive>
    </div>
  </div>
</div>

<div #parent></div>
