<div class="square">
  <h1 id='{{name}}'>{{name}}</h1>
  <img class="srcIcon" src="assets/{{name | lowercase}}.png">
  <br>

  <!-- IF TRYING TO CONNECT -->
  <md-progress-spinner class="spinner" mode="indeterminate" color="primary" value="10" *ngIf="isConnecting"></md-progress-spinner>

  <!-- IF NOT CONNECTED -->
  <button id="connectionButton{{name}}" type="button" class="connectionButton" *ngIf="!isConnected && !isConnecting" (click)="connect()">Se connecter</button>

    <!-- IF CONNECTED -->
	<div class="infos" *ngIf="isConnected && !isConnecting">
    <div class="row">
      <div class="col-md-10">
        <img id="pp{{name}}" class="pp" src="{{ppURL}}">
    		<p><strong>{{userName}}</strong></p>
    		<p id="connectionStatus">{{(isConnected) ? "Connecté" : "Non connecté"}}</p>
      </div>
      <div class="col-md-2">
        <img class="cancel" src ="../../assets/error.png" (click)="disconnect()">
      </div>
    </div>
	</div>
</div>
