.spinner{
  margin:auto;
  height: 50px;
}

.square {
  background: #F9F9F9;
  margin: 5%;
  border-style: solid;
  border-color: #CECECE;
  border-width: 1px;
  height:50%;
  width:50%;
  display:inline-block;

  /*Shadow*/
  -moz-box-shadow: 5px 5px 7px 0px #9b9b9b;
  -webkit-box-shadow: 5px 5px 7px 0px #9b9b9b;
  -o-box-shadow: 5px 5px 7px 0px #9b9b9b;
  box-shadow: 5px 5px 7px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=7);
}

.srcIcon{
  transition: opacity 0.5s;
  width:45%;
  height: 45%;
}
.srcIcon:hover{
  opacity:0.7;
}

.square h1 {
    color: #000;
}

.square .infos{
  padding:10px;
  margin-left:5%;
}

.square .infos img{
  border-radius: 15px;
  float: left;
  margin-right: 15px;
}
.pp{
  height:20%;
  width:20%;
}
.cancel{
  height: 100%;
  width: 100%;
}
.square .infos p{
  text-align: left;
}
.square .infos #connectionStatus{
  color:#777;
}

.connectionButton {
    font-weight: bold;
    background-color: #6DC066;
    border: none;
    color: white;
    border-radius: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: all .3s;
    padding:15px;
}
.connectionButton:hover{
  transition: all .3s;
  background-color: #1A9D00;
}
