<div class="row row-offcanvas row-offcanvas-right">

  <div style="text-align: center;">
    <ul class="stack">
      <li *ngFor="let file of stackFolder"><a href="#">{{file.name}}</a></li>
    </ul>
  </div>

  <div class="col-6 col-xs-7 col-md-9">

    <md-progress-spinner *ngIf="loading" class="spinner" mode="indeterminate" color="primary" value="10">
    </md-progress-spinner>

    <table id="fileTable" *ngIf="!loading">
      <tr id="headerTable">
        <th class="center" width="10">SOURCE</th>
        <th class="center" width="10">TYPE</th>
        <th width="60%">NAME</th>
        <th width="10%">SIZE</th>
        <th class="center" width="10%">SHARED</th>
      </tr>
      <tbody class="lign" *ngFor="let file of fileList; trackBy: trackByFiles" (click)="selectFile(file)" (dblclick) = "goInSelectedFolder(file)" id="{{file.sources[0].id}}">
        <tr *ngIf="filterFile(file)">
          <td align="center">
            <img *ngFor="let src of file.sources" height=25px width=25px src="assets/{{src.name | lowercase}}.png">
          </td>
          <td align="center"><img src="{{file.getIconURL()}}"></td>
          <td>{{ file.name }}</td>
          <td>{{ formatBytes(file.size) }}</td>
          <td align="center">
            <img *ngIf="file.isShared" height=25px width=25px src="assets/ic_group_black_24dp_1x.png">
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- SIDEBAR -->

  <div class="pre-scrollable col-6 col-xs-5 col-md-3 sidebar-offcanvas" id="sidebar">

    <!-- BACK BUTTON -->

    <div id="back-group" class="sidebar-group">
      <div class="sidebar-item">
        <button id="buttonReturn" [ngClass]="{btn:true, center:true, disabled:stackFolder.length==1}" (click)="goBack()">
          <img id="imgReturn" src="assets/return.png">
        </button>
      </div>
    </div>

    <!-- FILTERS -->

    <div id="filter-group" class="sidebar-group">
      <div id="divCheckBox" class="sidebar-item">
          <div class="material-switch">
            <p>
              Google Drive
            </p>
            <input id="switchGD" type="checkbox" [(ngModel)]="googleFilter"/>
            <label for="switchGD" class="label-default"></label>
          </div>
          <div class="material-switch">
            <p>
              Dropbox
            </p>
            <input id="swtichDB" type="checkbox" [(ngModel)]="dropboxFilter"/>
            <label for="swtichDB" class="label-default"></label>
          </div>
      </div>
    </div>

    <!-- STORAGE -->

    <div id="storage-group" class="sidebar-group">
      <div class="sidebar-item">
        <div>
          <!-- <app-storage id="storage-component">Waiting for storage information...</app-storage> -->
        </div>
      </div>
    </div>

    <!-- ACTION BUTTONS -->

    <div id="action-group" class="sidebar-group" *ngIf="this.selectedFile!=null">
      <div class="clickable sidebar-item" (click)="renamemodal.open()" data-toggle="tooltip" title="Edit a file's name">
        <p>
          <img id="editFile" src="assets/ic_mode_edit_black_24dp_2x.png"  />
          Rename
        </p>
      </div>
      <div class="clickable sidebar-item" (click)="movemodal.open()" data-toggle="tooltip" title="Move a file">
        <p>
          <img id="moveFile" src="assets/ic_compare_arrows_black_36dp_2x.png">
          Move
        </p>
      </div>
      <div class="clickable sidebar-item" (click)="deletemodal.open()" data-toggle="tooltip" title="Remove a file">
        <p>
          <img id="delete" src="assets/ic_delete_black_24dp_2x.png">
          Remove
        </p>
      </div>
    </div>

    <div id="action-fix-group" class="sidebar-group">
      <div class="clickable sidebar-item" (click)="uploadmodal.open()" data-toggle="tooltip" title="Upload a file">
        <p>
          <img id="addFile" src="assets/ic_insert_drive_file_black_24dp_2x.png">
          Upload
        </p>
      </div>
      <div class="clickable sidebar-item" (click)="newfoldermodal.open()" data-toggle="tooltip" title="Create an empty folder">
        <p>
          <img id="addFolder" src="assets/ic_add_folder_black_24dp_2x.png">
          Create folder
        </p>
      </div>
      <div class="clickable sidebar-item" (click)="returnToSettings()" data-toggle="tooltip" title="Go to settings">
        <p>
          <img id="settings" src="assets/ic_settings_black_24dp_2x.png">
          Settings
        </p>
      </div>
    </div>

  </div>
</div>


<!-- RENAME MODAL -->

<modal #renamemodal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Rename file</h4>
    </modal-header>
    <modal-body>
      <div class="form-group">
        <label for="recipient-name" class="form-control-label">File name:</label>
        <input type="text" class="form-control" id="new-file-name">
      </div>
    </modal-body>
    <modal-footer >
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="renameFile()">Rename</button>
    </modal-footer>
</modal>

<!-- MOVE FILE MODAL -->

<modal #movemodal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Move file</h4>
    </modal-header>
    <modal-body>
      <div class="form-group">
        <label for="recipient-name" class="form-control-label">New path</label>
        <input type="text" class="form-control" id="new-path">
      </div>
      <form>
        <input id="googleDriveMoveFile" type="checkbox"> Google Drive
        <input id="dropboxMoveFile" type="checkbox"> Dropbox
      </form>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-success" (click)="moveFile()">Move</button>
    </modal-footer>
</modal>

<!-- DELETE CONFIRMATION MODAL -->

<modal #deletemodal>
  <modal-header [show-close]="true">
      <h4 class="modal-title">Delete ?</h4>
  </modal-header>
  <modal-body>
    <div>
      Are you sure you want to delete this file ?
    </div>  
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <a class="btn btn-danger btn-ok" (click)="deleteSelectedFile()">Delete</a>
  </modal-footer>
</modal>

<!-- UPLOAD MODAL -->

<modal #uploadmodal>
  <modal-header [show-close]="true">
      <h4 class="modal-title">Select a file to upload</h4>
  </modal-header>
  <modal-body>
    <input id="filesChooser" type="file" placeholder="Upload file" (change)="onFilesChange($event)">
    <form>
      <input id="googleDriveUpload" type="checkbox"> Google Drive
      <input id="dropboxUpload" type="checkbox"> Dropbox
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button class="btn btn-success" [disabled]="!filesToUpload" (click)="uploadFiles()">Upload</button>
  </modal-footer>
</modal>

<!-- NEWFOLDER MODAL -->

<modal #newfoldermodal>
  <modal-header [show-close]="true">
      <h4 class="modal-title">Enter the name of the new folder</h4>
  </modal-header>
  <modal-body>
    <div class="form-group">
      <label for="recipient-name" class="form-control-label">New folder</label>
      <input id="newfolder" type="text" class="form-control">
    </div>
    <form>
      <input id="googleDriveNewFolder" type="checkbox"> Google Drive
      <input id="dropboxNewFolder" type="checkbox"> Dropbox
    </form>
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button class="btn btn-success" (click)="addingNewFolder()">Create</button>
  </modal-footer>
</modal>