/* STACK */
/* Inspired by Flat CC3 Breadcrumb by Renaud Tertrais
 https://codepen.io/renaudtertrais/pen/qtico?editors=1100#0 */

.stack {
  margin: 0;
  margin-left: 50%;
  transform: translateY(-40px);
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  display: inline-block;
  border: solid 1px #FFF;
  background-color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.stack li {
  float: left;
}
.stack li a {
  color: #FFF;
  display: block;
  background: #189681;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0 10px 0 10px;
  text-align: center;
  margin-right: 23px;
}

/** Removing the left border and make it rounded **/
.stack li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
.stack li:first-child a:before {
  border: none;
}
.stack li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  margin-right: 0px;
}
/*******************/

/** Removing the rigth border and make it rounded **/
.stack li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
.stack li:last-child a:after {
  border: none;
}
/*******************/

/** Inside triangle borders **/
.stack li a:before, .stack li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #189681;
  border-width: 0 15px 30px;
  width: 0;
  height: 0;
}
.stack li a:before {
  left: -22px;
  border-left-color: transparent;
}
.stack li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #189681;
}

/** Hovering blocks **/
.stack li a:hover {
  background-color: #1abc9c;
}
.stack li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
.stack li a:hover:after {
  border-left-color: #1abc9c;
}
.stack li a:active {
  background-color: #189681;
}
.stack li a:active:before {
  border-color: #189681;
  border-left-color: transparent;
}
.stack li a:active:after {
  border-left-color: #189681;
}

/* SIDEBAR */

#sidebar{
  position:fixed;
  right:0;
  padding: 0;
  max-height:70%;
  /*border-left: solid #DEDEDE 2px;*/
}
.sidebar-item{
  padding-left: 4%;
}
.sidebar-item > p {
  margin-bottom: 0;
  height:3em;
  line-height: 3em;
}
.sidebar-item > p > img{
  height: 1.5em;
  width:1.5em;
}
.sidebar-group{
  margin-bottom:3%;
  padding-bottom: 3%;
  border-bottom: solid #EEEEEE 1px;
}
.clickable:hover{
  cursor: pointer;
  background-color: #F5F5F5;
}

#storage-component{
  display:inline-flex;
}

/* Buttons */

#buttonReturn{
  width:90%;
  /*height:30px;*/
  text-align: center;
  background: #F3F3F3;

  /* Shadow */
  -moz-box-shadow: 0px 5px 5px 0px #9b9b9b;
  -webkit-box-shadow: 0px 5px 5px 0px #9b9b9b;
  -o-box-shadow: 0px 5px 5px 0px #9b9b9b;
  box-shadow: 0px 5px 5px 0px #9b9b9b;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=125, Strength=4);
}

#buttonReturn:hover {
  background-color: #8BD2FF;
  transition: all .3s;
}
.disabled {
  background-color: #959595 !important;
}

#uploadForm > input{
  display:inline-block;
}

/* Images */

#imgReturn{
  width:25px;
  height:25px;
}

/* File table */

table {
    /*font-family: arial, sans-serif;*/
    /*border-collapse: collapse;*/
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 10px;*/
}

#headerTable{
  background-color: #3A92B9;
  color: #FFF;
}
#headerTable > th {
  border-left:1px solid #FFF;
}

td, th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 8px;
}
.center{
  text-align: center;
}

.lign:hover{
  /*background-color: #154CFF;*/
  color:#154CFF;
  cursor: pointer;
}

tbody:nth-child(even) {
    /*background-color: #eeeeee;*/
}

/* Switches */

.material-switch{
  margin-top:4%;
}

.material-switch > p {
  display:inline-block;
}

.label-default{
  background-color:#669DB2;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    position: relative;
    width: 40px;
    margin-left:10px;
    float:right;
    margin-top:10px;
    margin-right:10%;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


.spinner{
  margin:auto;
}